img {
	width: 400px;
	height: 300px;
	border: solid 2px red;
	box-sizing: border-box;
}
p {
	color: white;
}

body {
	margin: 0;
}

#carousel {
	margin: 40px auto;
	text-align: center;
	background-color: black;
	width: 400px;
	height: 300px;
	overflow: hidden;
}

#carousel ul {
	width: 2000px;
	height: 300px;
	display: block;
	margin: 0 0;
	padding: 0 0;
}

li {
	list-style-type: none;
	float: left;
	height: 300px;
	width: 400px;
}

