img {
	width: 400px;
	height: 300px;
	border: solid 2px red;
	box-sizing: border-box;
}
p {
	color: white;
}

body {
	margin: 0;
	position: relative;
}

#carousel {
	margin: 40px auto;
	text-align: center;
	background-color: black;
	width: 400px;
	height: 300px;
	overflow: hidden;
}

#carousel ul {
	width: 2000px;
	height: 300px;
	display: block;
	margin: 0 0;
	padding: 0 0;
}

li {
	list-style-type: none;
	float: left;
	height: 300px;
	width: 400px;
}
#bullets {
	text-align: center;
}
button {
	width: 50px;
	height: 50px;
	border: 3px darkgray solid;
	border-radius: 50px;
	background-color: transparent;
	outline: 0;
}
button:hover {
	background-color: darkgray;
	transition: 0.3s ease;
	cursor: pointer;
	outline: 0;
}

